@import "tailwindcss";
@import "tw-animate-css";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f3f4f6; /* gris claro */
  color: #111827; /* gris oscuro */
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}